Repository kenjimaeda54/git_actions_ci_cd-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kenjimaeda54, @Kenjimaeda54, @kenjimaeda545

.github/CODEOWNERS:

* @kenjimaeda54
*.js  @Kenjimaeda54
*.yml @kenjimaeda545
/public/  @kenjimaeda54

fix: fixed problem with path project
  .github/workflows/ci.yml
Owners: @kenjimaeda545

refactor: refactor code
  .github/workflows/ci.yml
Owners: @kenjimaeda545

fix otografic test
  .github/workflows/ci.yml
Owners: @kenjimaeda545

fix otografic test
  .github/workflows/ci.yml
Owners: @kenjimaeda545

feat: added task cache
  .github/workflows/ci.yml
Owners: @kenjimaeda545

feat: added artifcts
  .github/workflows/ci.yml
Owners: @kenjimaeda545

feat: added artifcts
  .github/workflows/ci.yml
Owners: @kenjimaeda545

feat: change name file coverage test to coverage, this name correct
  .github/workflows/ci.yml
Owners: @kenjimaeda545

fix: added path absolute test
  .github/workflows/ci.yml
Owners: @kenjimaeda545

feat: change version actions/upload-artifacts
  .github/workflows/ci.yml
Owners: @kenjimaeda545

feat: checkout agin
  .github/workflows/ci.yml
Owners: @kenjimaeda545

fix: try resolve bug
  .github/workflows/ci.yml
Owners: @kenjimaeda545

fix: resolve problem with test
  .github/workflows/ci.yml
Owners: @kenjimaeda545

fix: resolve problem with test
  .github/workflows/ci.yml
Owners: @kenjimaeda545

feat: added semantic release
  .github/workflows/ci.yml
  package-lock.json
  package.json
  release.config.js
  yarn.lock
Owners: @kenjimaeda545, @kenjimaeda54, @Kenjimaeda54

fix: refactor problem with config file release.config.js
  package-lock.json
  release.config.js
Owners: @kenjimaeda54, @Kenjimaeda54

Notes added by 'git notes add'
  831d2a2432811b34f90a7eae0ae060f82976b32f
Owners: @kenjimaeda54

feat: added assets release
  .github/workflows/ci.yml
  release.config.js
Owners: @kenjimaeda545, @Kenjimaeda54

Notes added by 'git notes add'
  d4ad835fed4855855faf8e5403e164f95dfe3fe4
Owners: @kenjimaeda54

fix: trying resolve problem with assets release
  .github/workflows/ci.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  ce3a78c391bea4eea4bc1256becc27a42468537f
Owners: @kenjimaeda54

feat: integration codecov to reports test
  .github/workflows/ci.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  49785af3e14234a2921841950efe1aff85172ac4
Owners: @kenjimaeda54

feat: added feature to send menssage slack
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  1aeb3aca5b18e89b14c5fe81e8cd38fdeed0f2f9
Owners: @kenjimaeda54

fix: adeed url to curl
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  fb766c400ff22722db953d663c76bd708219182e
Owners: @kenjimaeda54

fix: trying resolve problem with curl
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  49826515ea88efdea2bffc378cd819d7566fae5b
Owners: @kenjimaeda54

fix: trying resolve problem with curl
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  013f405caad58e7d296ed88574aa0f9e963fb9e7
Owners: @kenjimaeda54

fix: trying resolve problem with curl
  .github/workflows/ci.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  48bb44fdbe2f34f69059b94da027b06adec7ef1e
Owners: @kenjimaeda54

fix: trying resolve problem with curl
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  f23df398701f7b3ecf8244dcac627f4ef4d0c8dc
Owners: @kenjimaeda54

fix: trying resolve problem with curl
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  acb6bc050f99deb6f626ec37edc90ae594945beb
Owners: @kenjimaeda54

feat: added url
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  3f1f466c4bfdad91b7e80a494d01ace2582e07cd
Owners: @kenjimaeda54

fix: resolve problem with url
  .github/workflows/release.yml
Owners: @kenjimaeda545
