Repository kenjimaeda54/git_actions_ci_cd-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kenjimaeda54, @Kenjimaeda54, @kenjimaeda545

Notes added by 'git notes add'
  7c4f36d31143aef2208b69e02ac551d76691f9f8
Owners: @kenjimaeda54

feat: added url correct
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  79210d721d9dc471f006a948cc5c504c85df90e6
Owners: @kenjimaeda54

fix: fixed problem with url
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  12870be880c8a52f3c7529a8c3de4d32764f2f19
Owners: @kenjimaeda54

fix: resolve problem with url
  .github/workflows/release.yml
Owners: @kenjimaeda545

Notes added by 'git notes add'
  e2a823ef7a12517ae896a8259fe8df1b7beac758
Owners: @kenjimaeda54

feat: config file issues open
  .github/workflows/ci.yml
  .github/workflows/issue.yml
Owners: @kenjimaeda545

fix: refactor react
  src/App.js
Owners: @Kenjimaeda54

fix: refactor react
  src/App.js
Owners: @Kenjimaeda54

fix: refactor react
  src/App.js
Owners: @Kenjimaeda54

Notes added by 'git notes add'
  827fd8da1db244ea70873b75dfe86c0ca73e25e1
Owners: @kenjimaeda54

fix: problema iwth deploy project
  src/App.js
Owners: @Kenjimaeda54

fix: refactor react
  src/App.js
Owners: @Kenjimaeda54

fix: resolve bug
  src/App.js
Owners: @Kenjimaeda54

fix: remove React but all ok now
  src/App.js
Owners: @Kenjimaeda54

fix: refactor react
  src/App.js
Owners: @Kenjimaeda54

Notes added by 'git notes add'
  7afbc0239c55824e5bfb2d6ccef8d8e2f61da0fb
Owners: @kenjimaeda54

Update README.md
  README.md
Owners: @kenjimaeda54

.github/CODEOWNERS:

* @kenjimaeda54
*.js  @Kenjimaeda54
*.yml @kenjimaeda545
/public/  @kenjimaeda54
